# === GERAIS ===
.env
.env.*
!.env.example
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# === TERRAFORM ===
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl

# === ATLANTIS ===
# Arquivos temporários gerados por execuções do Atlantis
atlantis-data/
atlantis.yaml.bak
*.auto.tfvars.json
*.tfplan.binary
*.tfplan.binary.*

# === DOCKER ===
*.pid
*.seed
docker-compose.override.yml
.docker/
*.tar
*.gz

# === IDEs / EDITORES ===
.vscode/
.idea/
*.swp
*.swo

# === SISTEMAS OPERACIONAIS ===
ehthumbs.db
Icon?
desktop.ini
